@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
  margin: 0;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

button {
  cursor: pointer;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  background-color: #353535;
  color: white;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

p {
  font-size: 14px;
}